[submodule "YouTube/RaptureXML"]
	path = YouTube/RaptureXML
	url = git://github.com/ZaBlanc/RaptureXML.git
[submodule "YouTube/KGNoise"]
	path = YouTube/KGNoise
	url = git://github.com/kgn/KGNoise.git
[submodule "YouTube/INAppStoreWindow"]
	path = YouTube/INAppStoreWindow
	url = git://github.com/indragiek/INAppStoreWindow.git
[submodule "YouTube/NSDate-TimeAgo"]
	path = YouTube/NSDate-TimeAgo
	url = git://github.com/kevinlawler/NSDate-TimeAgo.git
